<!-- Services Section -->
<section id="services">
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">SKILL</h2>
			<h3 class="section-subheading text-muted">Techs that I've used at least once</h3>
		</div>
	</div>
	<div class="row text-center">
	
		<p align="center">
		<img src="https://img.shields.io/badge/Java-007396.svg?style=for-the-badge&logo=Java&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Python-3766AB.svg?style=for-the-badge&logo=Python&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/C-A8B9CC.svg?style=for-the-badge&logo=C&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Javascript-ffb13b.svg?style=for-the-badge&logo=javascript&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/css-1572B6.svg?style=for-the-badge&logo=css3&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/jquery-1572B6y.svg?style=for-the-badge&logo=jquery&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Raspberry Pi3-333664.svg?style=for-the-badge&logo=RaspberryPi&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Linux-FCC624.svg?style=for-the-badge&logo=Linux&logoColor=white"/></a>&nbsp 
		<br><br>
		<img src="https://img.shields.io/badge/SpringBoot-6DB33F.svg?style=for-the-badge&logo=Spring&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Django-092E20.svg?style=for-the-badge&logo=Django&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Flask-11B48A.svg?style=for-the-badge&logo=Flask&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Mysql-E6B91E.svg?style=for-the-badge&logo=MySql&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/MongoDB-333664.svg?style=for-the-badge&logo=MongoDB&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Google Colab-DB3552.svg?style=for-the-badge&logo=GoogleColab&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/Android Studio-1572B6y.svg?style=for-the-badge&logo=AndroidStudio&logoColor=white"/></a>&nbsp 
		<img src="https://img.shields.io/badge/VirtualBox-183A61.svg?style=for-the-badge&logo=VirtualBox&logoColor=white"/></a>&nbsp 
		</p>
	
	</div>
</div>
</section>